.tabbed-block p img {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(2, 2, 2, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(2, 2, 2, 0.5));
}

.infobox {
  text-size-adjust: 100%;
  text-shadow: 1px 1px 1px black;
}

.tabbed-labels {
  flex-flow: wrap;
  justify-content: center;
}
.md-typeset .tabbed-labels--linked > label {
  padding: 0.35em 0.5em 0.35em;
}

.md-typeset .tabbed-labels > label {
  padding: 0.35em 0.5em 0.35em;
}

.md-typeset .tabbed-labels--linked > label > a {
  padding: 0em;
}

.grid-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.demo-gif {
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(2, 2, 2, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(2, 2, 2, 0.5));
}
