.infobox {
  text-size-adjust: 100%;
  text-shadow: 1px 1px 1px black;
}

.tabbed-labels {
  flex-flow: wrap;
  justify-content: center;
}
.md-typeset .tabbed-labels--linked > label {
  padding: 0.5em 0.5em 0.5em;
}

.md-typeset .tabbed-labels > label {
  padding: 0.5em 0.5em 0.5em;
}
